body{
    padding: 50px;
}
h1{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: yellow;
    width: 10%;
}
th,td{
    border: 1px solid black;
    padding: 20px;
}
